body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

img {
  max-width: 150px;
  max-height: 450px;
}

.header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.left-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.right-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imageContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftText {
  display: flex;
  flex-direction: column;
}

.blueBox {
  display: flex;
}

.rightImage {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
}



.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.AllBox {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.BoxOne {
  width: 200px;
  text-align: center;
}

.BoxTwo {
  width: 200px;
  text-align: center;
}

.BoxThree {
  width: 200px;
  text-align: center;
}

.BoxFour {
  width: 200px;
  text-align: center;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;

}

.head {
  font-weight: 900;
}

.action.text {
  color: white;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}